#selectdiv{

    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: goldenrod;
    border-radius: 15px;

}

.topnav {
    background-color: #333;
    overflow: hidden;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "Arial", "Book Antiqua", Palatino, serif;
    font-size: 30px;
}


.topnav a:hover {
    background-color: #cccccc;
    color: black;

}

.topnav a.active {
    background-color: goldenrod;
    color: white;
}       

header{
    background-color: #999999;
    color: white;
    text-align: center;
    font-family: "Arial", "Book Antiqua", Palatino, serif;
    font-size: 60px;
    letter-spacing: 5px;
    padding-top: 50px;
    padding-bottom: 50px;
}

header::first-letter {
    color: #e8c264;
    font-size: 90px;
}

#top::first-letter {
    color: #e8c264;
    font-size: 90px;
}

#eersteletter {
    color: #e8c264;
    font-size: 90px;  
}

#subMenu {
    color: black;
    font-size: 50px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 5px;
    text-align: left;
}

table#picklist {
    table-layout: fixed; width: 800px;
    background-color: #f1f1c1;
}

table#picklist tr:nth-child(even) {
    background-color: #f0eee5;
}

table#picklist tr:nth-child(odd) {
    background-color: #eee;
}

table#picklist th {
    color: white;
    background-color: black;
}

table#orderlist {
    /*table-layout: fixed; width: 800px;*/
    background-color: #f1f1c1;
}

table#orderlist tr:nth-child(even) {
    background-color: #f0eee5;
}

table#orderlist tr:nth-child(odd) {
    background-color: #eee;
}

table#orderlist th {
    color: white;
    background-color: black;
}

#colom {
    height: 30px;
    width: 100px;
}

#colomAanvullen {
    height: 30px;
    width: 100px;
    color: coral;
}

#warehouse{
    font-family: "Arial", "Book Antiqua", Palatino, serif;
    background-color: #a7a390;
    height: 50px;
}

.backButton{
    color: black;
    font-size: 50px;
}

.backButton a {
    float: left;
    display: block;
    color: #999999;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "Arial", "Book Antiqua", Palatino, serif;
    font-size: 30px;
}

body{
    font-family: "Arial", "Book Antiqua", Palatino, serif;
    font-size: 20px;

}
